<footer class="site-footer">


<div class="container">

    <div class="footer-grid">

        <div>

            <h3>TRIAXIS</h3>

            <p>
                Design, Data, AI, Automation and
                Web Development Solutions.
            </p>

        </div>

        <div>

            <h4>Services</h4>

            <ul>
                <li>Design</li>
                <li>Data Scraping</li>
                <li>Research</li>
                <li>Automation</li>
                <li>Artificial Intelligence</li>
                <li>Web Development</li>
            </ul>

        </div>

        <div>

            <h4>Products</h4>

            <ul>
                <li><a href="/layerforge/">LayerForge</a></li>
                <li><a href="/autolytics/">AutoLytics</a></li>
            </ul>

        </div>

        <div>

            <h4>Contact</h4>

            <ul>
                <li>info@triaxis.com</li>
                <li>+92 XXX XXXXXXX</li>
            </ul>

        </div>

    </div>

    <div class="footer-bottom">

        © {% now "Y" %} Triaxis.
        All Rights Reserved.

    </div>

</div>


</footer>
